# ── .NET ────────────────────────
**/bin/
**/obj/
**/*.user
**/.vs/
appsettings.Production.json

# ── Angular / Node ───────────────
**/node_modules/
**/dist/
**/.angular/

# ── Secrets ──────────────────────
.env
*.secret

# ── OS ───────────────────────────
.DS_Store
Thumbs.db

# ── IDE ──────────────────────────
.idea/
.vscode/*
!.vscode/extensions.json

# ── Logs & Uploads ───────────────
*.log
**/uploads/
